<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dev-Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/">Home</a>
    <h1>All Dev-Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
              <form action="/skills/<%= s.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">&times</button>
           
              <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            </form>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new"> Add another skill</a>

</body>
</html>